# Data Preparation

## 1. Extraction of Available Classrooms

In [7]:
#!pip install openpyxl

In [8]:
import pandas as pd
import numpy as np

## Loading Rooms with Edits Excel File

This file contains the 1st room dataset we were given. We can extract list of all classrooms available from here.

In [109]:

#Load Excel File
file_path = "resources/Rooms with Edits.xlsx"
df = pd.read_excel(file_path, engine="openpyxl")

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Location Name                     118 non-null    object
 1   Location Formal Name              105 non-null    object
 2   Location Scheduler                101 non-null    object
 3   Location Scheduler Email          66 non-null     object
 4   Max Capacity                      117 non-null    object
 5   X25 Assignable Area               67 non-null     object
 6   Default Layout                    117 non-null    object
 7   Default Layout Capacity           79 non-null     object
 8   Default Layout Image?             71 non-null     object
 9   Unnamed: 9                        71 non-null     object
 10  Building                          0 non-null      float64
 11  Partition                         101 non-null    object
 12  Latitude                          71 non-null     float64
 13  Longitude                         71 non-null     float64
 14  X25 Building                      99 non-null     object
 15  X25 Floor Number                  1 non-null      float64
 16  X25 Owner Organization            87 non-null     object
 17  X25 Room Use Code                 47 non-null     float64
 18  Express Scheduling Enabled?       51 non-null     object
 19  Express Scheduling Event Type     0 non-null      float64
 20  Express Scheduling Max. Duration  0 non-null      float64
 21  Default Instructions              3 non-null      object
 22  Comments                          33 non-null     object
 23  Unnamed: 23                       1 non-null      object
dtypes: float64(7), object(17)
memory usage: 22.4+ KB
None

In [110]:
df = df[~df['Location Name'].isna(   )] #We know from Intial Excel Analysis, there contains a null row, better throw that out
df

,Location Name,Location Formal Name,Location Scheduler,Location Scheduler Email,Max Capacity,X25 Assignable Area,Default Layout,Default Layout Capacity,Default Layout Image?,Unnamed: 9,...,X25 Building,X25 Floor Number,X25 Owner Organization,X25 Room Use Code,Express Scheduling Enabled?,Express Scheduling Event Type,Express Scheduling Max. Duration,Default Instructions,Comments,Unnamed: 23
0,AUD 1011,"Auditorium Building, Computer Classroom 1011","Wilkins, Alenda",awilkins@roosevelt.edu,28,691,Lecture,25,Yes,No,...,Auditorium Building,NaN,REGISTRAR,110.0,No,NaN,NaN,NaN,NaN,NaN
1,AUD 1015,"Auditorium Building, General Classroom 1015","Wilkins, Alenda",awilkins@roosevelt.edu,28,691,Lecture,25,Yes,No,...,Auditorium Building,NaN,REGISTRAR,110.0,No,NaN,NaN,NaN,NaN,NaN
2,AUD 1019,"Auditorium Building, Computer Classroom 1019","Wilkins, Alenda",awilkins@roosevelt.edu,24,691,Lecture,24,Yes,No,...,Auditorium Building,NaN,REGISTRAR,110.0,No,NaN,NaN,NaN,NaN,NaN
3,AUD 238,"Auditorium Building, Storage Room 238",NaN,NaN,12,375,Lecture,12,No,No,...,Auditorium Building,NaN,ADMINISTRATIVE SERVICES,350.0,No,NaN,NaN,NaN,AUD 238 is for Storage only cannot be reserved.,NaN
4,AUD 306,"Auditorium Building, COMM Lab 306","Wilkins, Alenda",awilkins@roosevelt.edu,16,744,Lecture,16,No,No,...,Auditorium Building,NaN,REGISTRAR,110.0,No,NaN,NaN,NaN,Computer Lab as opposed to Lecture Lab. Lab co...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,WB 815,Wabash Building: Science Lab,Class entered,NaN,24,NaN,Science Lab,24,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,WB 811,Wabash Building: Science Lab,Class entered,NaN,24,NaN,Science Lab,24,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,WB 810,Wabash Building: Science Lab,Class entered,NaN,30,NaN,Science Lab,30,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,WB 711,Wabash Building: Science Lab,Class entered,NaN,18,NaN,Science Lab,18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,WB 713,Wabash Building: Science Lab,Class entered,NaN,24,NaN,Science Lab,24,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:

#Dropping columns we don't need
df = df[["Location Name", "Max Capacity", "Default Layout", "Default Layout Capacity","Comments","Default Instructions"]]
df['Comments']

0                                                    NaN
1                                                    NaN
2                                                    NaN
3        AUD 238 is for Storage only cannot be reserved.
4      Computer Lab as opposed to Lecture Lab. Lab co...
                             ...
114                                                  NaN
115                                                  NaN
116                                                  NaN
117                                                  NaN
118                                                  NaN
Name: Comments, Length: 118, dtype: object

In [12]:
nac_df = df[df['Max Capacity']=='NAC']

nac_df #NAC = Not a Classroom

,Location Name,Max Capacity,Default Layout,Default Layout Capacity,Comments,Default Instructions
21,AUD 434,NAC,Early childhood program modal classroom,NaN,NaN,NaN
24,AUD 462,NAC,Office of Advancement,NaN,NaN,NaN
26,AUD 509,NAC,Learning lab,NaN,this lab(photography) is locked and I can gues...,NaN
29,AUD 511,NAC,Learning lab,NaN,Biology lab,NaN
30,AUD 513,NAC,Learning lab,NaN,Biology lab,NaN
37,AUD 540,NAC,Club Room,NaN,this is a club room for illinois labor hisotry...,NaN
38,AUD 542,NAC,Learning lab,NaN,Biology lab with a connection,NaN
39,AUD 546,NAC,Learning lab,NaN,Biology lab,NaN
40,AUD 548,NAC,Learning lab,NaN,Biology lab with a connection,NaN
41,AUD 554,NAC,Learning lab,NaN,fiber art studio,NaN
42,AUD 556,NAC,Learning lab,NaN,lab,NaN
47,AUD 610,NAC,CCPA Computer Room,20,NaN,NaN
48,AUD 611,NAC,Nursing Nook,NaN,NaN,NaN
50,AUD 626,NAC,Gender Justic,NaN,NaN,NaN
52,AUD 642,NAC,Help Desk,NaN,NaN,NaN
54,AUD 648,NAC,Acadmic Technolog Sloutoins/Equipment Center,NaN,NaN,NaN
55,AUD 650,NAC,Torch Student News Paper,NaN,NaN,NaN
56,AUD 654,NAC,Shared Studio,NaN,NaN,NaN
64,AUD 833,NAC,NAC,NAC,No name and locked,NaN
65,AUD 880,NAC,NAC,NAC,Needs passcode and no name,NaN
66,AUD 882,NAC,Conservatory,NAC,Theater,NaN
67,AUD 886,NAC,Conservatory,NAC,Theater,NaN
68,AUD 903,NAC,shared studio,NaN,shared studio,NaN
69,AUD 907,NAC,Milowsky Hall,NaN,NaN,NaN
70,AUD 908,NAC,shared studio,NaN,NaN,NaN
71,AUD 909,NAC,shared studio,NaN,NaN,NaN
72,AUD 913,NAC,early keyboard studio,NaN,NaN,NaN
73,AUD 915,NAC,shared studio,NaN,NaN,NaN
74,AUD 927,NAC,practice rooms,NaN,NaN,NaN
75,AUD 932,NAC,advisor theatre & music conservatory,NaN,NaN,NaN
76,AUD 944,NAC,shared studio,NaN,NaN,NaN
77,AUD 946,NAC,teaching studio,NaN,NaN,NaN
78,AUD 947,NAC,shared studio,NaN,NaN,NaN
79,AUD 955,NAC,shared studio,NaN,NaN,NaN
80,AUD 956,NAC,shared studio,NaN,NaN,NaN
81,AUD 957,NAC,shared studio,NaN,NaN,NaN
82,AUD 958,NAC,recording room marks hall,NaN,NaN,NaN
83,AUD 964,NAC,Marks Hall,NaN,NaN,NaN
89,WB 1020,NAC,Meeting Room,NAC,NaN,NaN
90,WB 1021,NAC,Conference room,NAC,only 10 computers,NaN
97,WB 1217,NAC,NAC,NAC,NaN,NaN
98,WB 401A,NAC,NAC,NAC,NaN,NaN
99,WB 402,NAC,Cafeteria,NAC,NaN,NaN
102,WB 418,NAC,MULTI PURPOSE,NAC,NaN,NaN
103,WB 429,NAC,Catering,NAC,NaN,NaN
104,WB 602,NAC,Storage,NAC,NaN,NaN
109,WB 618,NAC,Conference room,NAC,NaN,NaN
113,WB 915,NAC,Conference room,NAC,NaN,NaN

In [13]:
nac_loc = list(nac_df['Location Name'])
nac_classes= {"AUD":[], "WB":[]}

for room in nac_loc:
    if (room.split()[0]) == "AUD":
        nac_classes["AUD"].append(room.split()[-1])
    else:
        nac_classes["WB"].append(room.split()[-1])

print(nac_classes)

{'AUD': ['434', '462', '509', '511', '513', '540', '542', '546', '548', '554', '556', '610', '611', '626', '642', '648', '650', '654', '833', '880', '882', '886', '903', '907', '908', '909', '913', '915', '927', '932', '944', '946', '947', '955', '956', '957', '958', '964'], 'WB': ['1020', '1021', '1217', '401A', '402', '418', '429', '602', '618', '915']}

In [112]:
#I had to verify that the clasroom data we had was complete and correct. I have one way to verify this.
# I have 2024 FALL SCHEDULE, where there is data for all classes that took place in Fall2024. Surely, our data must include all classrooms that were used for classes offered in Fall



RWE_Loc = list(df['Location Name'])
print(RWE_Loc)

['AUD 1011', 'AUD 1015', 'AUD 1019', 'AUD 238', 'AUD 306', 'AUD 308', 'AUD 310', 'AUD 311', 'AUD 314', 'AUD 316', 'AUD 320', 'AUD 326', 'AUD 362', 'AUD 403A', 'AUD 406', 'AUD 410', 'AUD 412', 'AUD 414', 'AUD 420', 'AUD 426', 'AUD 430', 'AUD 434', 'AUD 440', 'AUD 452', 'AUD 462', 'AUD 506', 'AUD 509', 'AUD 510', 'AUD 510', 'AUD 511', 'AUD 513', 'AUD 514', 'AUD 516', 'AUD 518', 'AUD 524', 'AUD 528', 'AUD 534', 'AUD 540', 'AUD 542', 'AUD 546', 'AUD 548', 'AUD 554', 'AUD 556', 'AUD 560', 'AUD 586', 'AUD 603', 'AUD 606', 'AUD 610', 'AUD 611', 'AUD 614', 'AUD 626', 'AUD 628', 'AUD 642', 'AUD 644', 'AUD 648', 'AUD 650', 'AUD 654', 'AUD 670', 'AUD 704', 'AUD 706', 'AUD 716', 'AUD 720', 'AUD 724', 'AUD 811', 'AUD 833', 'AUD 880', 'AUD 882', 'AUD 886', 'AUD 903', 'AUD 907', 'AUD 908', 'AUD 909', 'AUD 913', 'AUD 915', 'AUD 927', 'AUD 932', 'AUD 944', 'AUD 946', 'AUD 947', 'AUD 955', 'AUD 956', 'AUD 957', 'AUD 958', 'AUD 964', 'WB 1015', 'WB 1016', 'WB 1017', 'WB 1019', 'WB 1020', 'WB 1021', 'WB 1109', 'WB 1111', 'WB 1210', 'WB 1212', 'WB 1214', 'WB 1215', 'WB 1217', 'WB 401A', 'WB 402', 'WB 411', 'WB 416', 'WB 418', 'WB 429', 'WB 602', 'WB 609', 'WB 611', 'WB 612', 'WB 616', 'WB 618', 'WB 910', 'WB 911', 'WB 912', 'WB 915', 'WB 815', 'WB 811', 'WB 810', 'WB 711', 'WB 713']

In [ ]:
RWE_classes= {"AUD":[], "WB":[]}

for room in RWE_Loc:
    if (room.split()[0]) == "AUD":
        RWE_classes["AUD"].append(room.split()[-1])
    else:
        RWE_classes["WB"].append(room.split()[-1])
        

for building in RWE_classes.keys():
    for i in range(len(RWE_classes[building])):
        print(building+": "+RWE_classes[building][i])
    print("-------------")

In [180]:
RWE_elig_classList = sorted(list(set(RWE_Loc) - set(nac_loc)))
elig_df = df[df['Location Name'].isin(RWE_elig_classList)]

RWE_elig_classList

['AUD 1011',
 'AUD 1015',
 'AUD 1019',
 'AUD 238',
 'AUD 306',
 'AUD 308',
 'AUD 310',
 'AUD 311',
 'AUD 314',
 'AUD 316',
 'AUD 320',
 'AUD 326',
 'AUD 362',
 'AUD 403A',
 'AUD 406',
 'AUD 410',
 'AUD 412',
 'AUD 414',
 'AUD 420',
 'AUD 426',
 'AUD 430',
 'AUD 440',
 'AUD 452',
 'AUD 506',
 'AUD 510',
 'AUD 514',
 'AUD 516',
 'AUD 518',
 'AUD 524',
 'AUD 528',
 'AUD 534',
 'AUD 560',
 'AUD 586',
 'AUD 603',
 'AUD 606',
 'AUD 614',
 'AUD 628',
 'AUD 644',
 'AUD 670',
 'AUD 704',
 'AUD 706',
 'AUD 716',
 'AUD 720',
 'AUD 724',
 'AUD 811',
 'WB 1015',
 'WB 1016',
 'WB 1017',
 'WB 1019',
 'WB 1109',
 'WB 1111',
 'WB 1210',
 'WB 1212',
 'WB 1214',
 'WB 1215',
 'WB 411',
 'WB 416',
 'WB 609',
 'WB 611',
 'WB 612',
 'WB 616',
 'WB 711',
 'WB 713',
 'WB 810',
 'WB 811',
 'WB 815',
 'WB 910',
 'WB 911',
 'WB 912']

In [49]:
RWE_elig_classes= {"AUD":[], "WB":[]}

for room in RWE_elig_classList:
    if (room.split()[0]) == "AUD":
        RWE_elig_classes["AUD"].append(room.split()[-1])
    else:
        RWE_elig_classes["WB"].append(room.split()[-1])
        

for building in RWE_elig_classes.keys():
    for i in range(len(RWE_elig_classes[building])):
        print(building+": "+RWE_elig_classes[building][i])
    print("-------------")

AUD: 1011
AUD: 1015
AUD: 1019
AUD: 238
AUD: 306
AUD: 308
AUD: 310
AUD: 311
AUD: 314
AUD: 316
AUD: 320
AUD: 326
AUD: 362
AUD: 403A
AUD: 406
AUD: 410
AUD: 412
AUD: 414
AUD: 420
AUD: 426
AUD: 430
AUD: 440
AUD: 452
AUD: 506
AUD: 510
AUD: 514
AUD: 516
AUD: 518
AUD: 524
AUD: 528
AUD: 534
AUD: 560
AUD: 586
AUD: 603
AUD: 606
AUD: 614
AUD: 628
AUD: 644
AUD: 670
AUD: 704
AUD: 706
AUD: 716
AUD: 720
AUD: 724
AUD: 811
-------------
WB: 1015
WB: 1016
WB: 1017
WB: 1019
WB: 1109
WB: 1111
WB: 1210
WB: 1212
WB: 1214
WB: 1215
WB: 411
WB: 416
WB: 609
WB: 611
WB: 612
WB: 616
WB: 711
WB: 713
WB: 810
WB: 811
WB: 815
WB: 910
WB: 911
WB: 912
-------------

### So far. We have extracted a key dataframe:     elig_df 
#### This df is our cleaned dataframe of Room W Edits, where we've omitted redundant columns and Not a Classroom' rooms.

### Need to extract classed from existing schedule and add to the exsiting classroom list.

#### Constraint: Remove Performance Arts Classroom

In [39]:
class_file = "resources/Fall2024 Class Enrollment vs Room Size.csv"

class_df = pd.read_csv(class_file)

In [40]:
class_df.head()

,SSRMEET_SUN_DAY,SSRMEET_MON_DAY,SSRMEET_TUE_DAY,SSRMEET_WED_DAY,SSRMEET_THU_DAY,SSRMEET_FRI_DAY,SSRMEET_SAT_DAY,Campus,CRN,Subject,...,CrosslistGroup,CourseTitle,Instructor,RoomCapacity,ActualEnrollment,SeatsAvailable,BeginTime,EndTime,Building,Room
0,NaN,NaN,T,NaN,NaN,NaN,NaN,CHICAGO CAMPUS,11099,IMC,...,A2,LAW AND ETHICS,NaN,18,0,30,1400,1630,Auditorium Building,360
1,NaN,NaN,T,NaN,NaN,NaN,NaN,CHICAGO CAMPUS,12482,JMS,...,A2,LAW AND ETHICS,NaN,25,0,30,1400,1630,Auditorium Building,1011
2,NaN,NaN,T,NaN,R,NaN,NaN,CHICAGO CAMPUS,14224,MTA,...,AB,INSTRUMENTATION/ORCHESTRATION,NaN,16,0,15,930,1045,Auditorium Building,652
3,NaN,NaN,T,NaN,R,NaN,NaN,CHICAGO CAMPUS,14225,MTA,...,AB,INSTRUMENTATION/ORCHESTRATION,NaN,16,0,15,930,1045,Auditorium Building,652
4,NaN,NaN,NaN,W,NaN,NaN,NaN,CHICAGO CAMPUS,13864,ART,...,AH,IPHONE/DEMOCRATIC CAMERA,NaN,20,0,16,1400,1630,Auditorium Building,362

In [41]:
class_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SSRMEET_SUN_DAY   2 non-null      object
 1   SSRMEET_MON_DAY   273 non-null    object
 2   SSRMEET_TUE_DAY   284 non-null    object
 3   SSRMEET_WED_DAY   316 non-null    object
 4   SSRMEET_THU_DAY   261 non-null    object
 5   SSRMEET_FRI_DAY   59 non-null     object
 6   SSRMEET_SAT_DAY   3 non-null      object
 7   Campus            791 non-null    object
 8   CRN               791 non-null    int64
 9   Subject           791 non-null    object
 10  CourseNumber      791 non-null    object
 11  SectNumber        791 non-null    object
 12  MeetingTimeGroup  791 non-null    object
 13  CrosslistGroup    270 non-null    object
 14  CourseTitle       791 non-null    object
 15  Instructor        7 non-null      object
 16  RoomCapacity      791 non-null    int64
 17  ActualEnrollment  791 non-null    int64
 18  SeatsAvailable    791 non-null    int64
 19  BeginTime         791 non-null    int64
 20  EndTime           791 non-null    int64
 21  Building          791 non-null    object
 22  Room              791 non-null    object
dtypes: int64(6), object(17)
memory usage: 142.3+ KB

In [50]:
cond_aud = class_df['Building']=="Auditorium Building"
cond_wb = class_df['Building'] == "Wabash Building"

class_aud_df = class_df[cond_aud]
class_wb_df = class_df[cond_wb]

Curr_classes = {"AUD": [], "WB": []}

aud_unique = class_df[cond_aud]['Room'].unique()
wb_unique = class_df[cond_wb]['Room'].unique()
for room in aud_unique:
    Curr_classes['AUD'].append(room)

for room in wb_unique:
    Curr_classes['WB'].append(room)

In [86]:
xcheck = []
for item in list(set(class_aud_df['Room'])):
    xcheck.append('AUD '+item)
for item in list(set(class_wb_df['Room'])):
    xcheck.append('WB '+item)

sorted(xcheck)

['AUD 1011',
 'AUD 1015',
 'AUD 1019',
 'AUD 1080',
 'AUD 1450',
 'AUD 178',
 'AUD 306',
 'AUD 308',
 'AUD 309',
 'AUD 310',
 'AUD 311',
 'AUD 314',
 'AUD 316',
 'AUD 320',
 'AUD 326',
 'AUD 360',
 'AUD 362',
 'AUD 403A',
 'AUD 406',
 'AUD 410',
 'AUD 414',
 'AUD 420',
 'AUD 426',
 'AUD 430',
 'AUD 440',
 'AUD 452',
 'AUD 510',
 'AUD 514',
 'AUD 516',
 'AUD 518',
 'AUD 524',
 'AUD 528',
 'AUD 534',
 'AUD 542',
 'AUD 560',
 'AUD 601',
 'AUD 610',
 'AUD 614',
 'AUD 616',
 'AUD 628',
 'AUD 644',
 'AUD 650',
 'AUD 652',
 'AUD 662',
 'AUD 670',
 'AUD 704',
 'AUD 710',
 'AUD 713',
 'AUD 716',
 'AUD 720',
 'AUD 724',
 'AUD 730',
 'AUD 745',
 'AUD 762',
 'AUD 782',
 'AUD 811',
 'AUD 825',
 'AUD 886',
 'AUD 907',
 'AUD 925',
 'AUD 927B',
 'AUD 927D',
 'AUD 956',
 'AUD 964',
 'AUD 980',
 'WB 1015',
 'WB 1016',
 'WB 1017',
 'WB 1019',
 'WB 1021',
 'WB 1109',
 'WB 1111',
 'WB 1212',
 'WB 1214',
 'WB 1215',
 'WB 1217',
 'WB 411',
 'WB 413',
 'WB 416',
 'WB 427',
 'WB 609',
 'WB 611',
 'WB 612',
 'WB 616',
 'WB 618',
 'WB 711',
 'WB 713',
 'WB 810',
 'WB 811',
 'WB 815',
 'WB 910',
 'WB 911']

In [84]:
RWE_elig_classes

{'AUD': ['1011',
  '1015',
  '1019',
  '238',
  '306',
  '308',
  '310',
  '311',
  '314',
  '316',
  '320',
  '326',
  '362',
  '403A',
  '406',
  '410',
  '412',
  '414',
  '420',
  '426',
  '430',
  '440',
  '452',
  '506',
  '510',
  '514',
  '516',
  '518',
  '524',
  '528',
  '534',
  '560',
  '586',
  '603',
  '606',
  '614',
  '628',
  '644',
  '670',
  '704',
  '706',
  '716',
  '720',
  '724',
  '811'],
 'WB': ['1015',
  '1016',
  '1017',
  '1019',
  '1109',
  '1111',
  '1210',
  '1212',
  '1214',
  '1215',
  '411',
  '416',
  '609',
  '611',
  '612',
  '616',
  '711',
  '713',
  '810',
  '811',
  '815',
  '910',
  '911',
  '912']}

In [55]:
seta = set(RWE_elig_classes['AUD'])
setb = set(Curr_classes['AUD'])

missing_classes_aud = list(setb - seta)

seta = set(RWE_elig_classes['WB'])
setb = set(Curr_classes['WB'])

missing_classes_wb = list(setb - seta)

In [150]:
missing_classes_aud

['542',
 '745',
 '927B',
 '650',
 '178',
 '907',
 '360',
 '616',
 '762',
 '925',
 '956',
 '1080',
 '1450',
 '730',
 '964',
 '610',
 '713',
 '782',
 '601',
 '309',
 '662',
 '927D',
 '825',
 '710',
 '652',
 '886',
 '980']

## Missing Classes in Our Dataset

### Auditorium Building

In [128]:

for classes in missing_classes_aud:
    print(class_aud_df[class_aud_df['Room'].isin([classes])][["CourseTitle","Building","Room","RoomCapacity","SeatsAvailable"]])
    print("\n\n")

# Valid Subjects: [We're omitting performance arts]
#BIOL, IMC, JMS, BCHM, CHS, ENG, PSYC

#We can either filter classes in 'missing_classes_aud' by including only valid SUBJECTS with the help of CODE
# Or we simply extract classrooms based on our filtered print of Dataframe.

#i.e. 
# {'AUD 542':'Bio Lab', --Capacity: 24
# 'AUD 360' : 'Lecture', --Capacity: 18
# 'AUD 309' : 'Chem Lab', --Capacity: 20
# 'AUD 825': 'Lecture'} --Capacity: 25

                   CourseTitle             Building Room  RoomCapacity  \
303  ENVIRONMENTAL BIOLOGY-LAB  Auditorium Building  542            24

     SeatsAvailable
303              32



                        CourseTitle             Building Room  RoomCapacity  \
208  PIANO & HARP PERFORMANCE CLASS  Auditorium Building  745           100
209  PIANO & HARP PERFORMANCE CLASS  Auditorium Building  745           100
659     ORCH AUDITION WORKSHOP PREP  Auditorium Building  745           100
660    ORCHESTRAL AUDITION WORKSHOP  Auditorium Building  745           100
786          GRAD PERFORMANCE CLASS  Auditorium Building  745           100

     SeatsAvailable
208              50
209              50
659              20
660              20
786              25



         CourseTitle             Building  Room  RoomCapacity  SeatsAvailable
542  IMPROVISATION I  Auditorium Building  927B            15              30



                        CourseTitle             Building Room  RoomCapacity  \
226  FIBER ARTS & FEMINIST PRACTICE  Auditorium Building  650            29
227  FIBER ARTS & FEMINIST PRACTICE  Auditorium Building  650            29

     SeatsAvailable
226              20
227              20



                     CourseTitle             Building Room  RoomCapacity  \
201  LARGE INSTRUMENTAL ENSEMBLE  Auditorium Building  178           150
461                  LAKERS BAND  Auditorium Building  178           150
612         LAKERS BAND ENSEMBLE  Auditorium Building  178           150
657      BRASS PERFORMANCE CLASS  Auditorium Building  178           150

     SeatsAvailable
201              99
461              99
612             100
657              50



                        CourseTitle             Building Room  RoomCapacity  \
217      COMPOSING: ART AND PROCESS  Auditorium Building  907            40
218      COMPOSING: ART AND PROCESS  Auditorium Building  907            40
289   PRO PERFORM ARTIST IN SOCIETY  Auditorium Building  907            40
550  MUSICAL STORYTELLING VIA DUETS  Auditorium Building  907            40
610       OVERVIEW OF MUSIC HISTORY  Auditorium Building  907            40
613           LAKERS CHOIR ENSEMBLE  Auditorium Building  907            40
662       VOCAL COLLAB FOR PIANISTS  Auditorium Building  907            40

     SeatsAvailable
217              15
218              15
289              30
550              15
610              60
613             100
662              10



                      CourseTitle             Building Room  RoomCapacity  \
0                  LAW AND ETHICS  Auditorium Building  360            18
79                  MEDIA WRITING  Auditorium Building  360            18
80                  MEDIA WRITING  Auditorium Building  360            18
543  INTRODUCTION TO MEDIA THEORY  Auditorium Building  360            18
545   PUBLIC OPINION & PROPAGANDA  Auditorium Building  360            18

     SeatsAvailable
0                30
79               25
80               16
543              18
545              30



                     CourseTitle             Building Room  RoomCapacity  \
195  INTRO ELECTROACOUSTIC MUSIC  Auditorium Building  616            16
196  INTRO ELECTROACOUSTIC MUSIC  Auditorium Building  616            16
649           MUSIC TECHNOLOGY I  Auditorium Building  616            16

     SeatsAvailable
195              15
196              15
649              25



              CourseTitle             Building Room  RoomCapacity  \
546  BMA COLLOQUIUM (HON)  Auditorium Building  762            25

     SeatsAvailable
546              25



                        CourseTitle             Building Room  RoomCapacity  \
156   MUSICIANSHIP I, WRITTEN/AURAL  Auditorium Building  925            20
206     ORCHESTRAL EXCERPTS - VIOLA  Auditorium Building  925            20
207     ORCHESTRAL EXCERPTS - VIOLA  Auditorium Building  925            20
540       COMPOSITION & ARRANGING I  Auditorium Building  925            20
590  INST METH FOR ELEM/JUNIOR HIGH  Auditorium Building  925            20
614            LAKERS JAZZ ENSEMBLE  Auditorium Building  925            20
773  VOICE & SPCH FOR THE ACTOR III  Auditorium Building  925            20

     SeatsAvailable
156              30
206              10
207               5
540              30
590              15
614             100
773              25



                        CourseTitle             Building Room  RoomCapacity  \
172                PIANO ENSEMBLE I  Auditorium Building  956            10
240           CHAMBER MUSIC (PIANO)  Auditorium Building  956            10
241           CHAMBER MUSIC (PIANO)  Auditorium Building  956            10
242           CHAMBER MUSIC (PIANO)  Auditorium Building  956            10
663  SEM:INSTRUMNTL COLLAB PIANISTS  Auditorium Building  956            10

     SeatsAvailable
172              99
240              99
241              99
242              99
663              50



                      CourseTitle             Building  Room  RoomCapacity  \
192   LARGE INSTRUMENTAL ENSEMBLE  Auditorium Building  1080            80
197           PERCUSSION ENSEMBLE  Auditorium Building  1080            80
202  PERCUSSION PERFORMANCE CLASS  Auditorium Building  1080            80
203  PERCUSSION PERFORMANCE CLASS  Auditorium Building  1080            80

     SeatsAvailable
192              99
197              99
202              25
203              25



                   CourseTitle             Building  Room  RoomCapacity  \
182        ALEXANDER TECHNIQUE  Auditorium Building  1450            30
183        ALEXANDER TECHNIQUE  Auditorium Building  1450            30
184        ALEXANDER TECHNIQUE  Auditorium Building  1450            30
185        ALEXANDER TECHNIQUE  Auditorium Building  1450            30
193  CLASSICAL GUITAR ENSEMBLE  Auditorium Building  1450            30
194  CLASSICAL GUITAR ENSEMBLE  Auditorium Building  1450            30
464                 CCPA OPERA  Auditorium Building  1450            30

     SeatsAvailable
182              10
183              10
184              10
185              10
193              99
194              99
464              50



                        CourseTitle             Building Room  RoomCapacity  \
150            PERFORMANCE ANALYSIS  Auditorium Building  730            62
151            PERFORMANCE ANALYSIS  Auditorium Building  730            62
198      ORCHESTRAL EXCERPTS - BASS  Auditorium Building  730            62
199      ORCHESTRAL EXCERPTS - BASS  Auditorium Building  730            62
210    PERF PRACT: INFL/DECIS/POSIT  Auditorium Building  730            62
211    PERF PRACT: INFL/DECIS/POSIT  Auditorium Building  730            62
212    ORCHESTRAL EXCERPTS - VIOLIN  Auditorium Building  730            62
213    INTRO TO VIOLA FOR VIOLINIST  Auditorium Building  730            62
214     ORCHESTRAL EXCEPTS - VIOLIN  Auditorium Building  730            62
611                 BEGINNING VOICE  Auditorium Building  730            62
615   MUSICIANSHIP I:WRITTEN SKILLS  Auditorium Building  730            62
616   MUSICIANSHIP I:WRITTEN SKILLS  Auditorium Building  730            62
621  MUSICIANSHIP III WRITTEN/AURAL  Auditorium Building  730            62
658      WOODWIND PERFORMANCE CLASS  Auditorium Building  730            62
761                ENSEMBLE SINGING  Auditorium Building  730            62
762                ENSEMBLE SINGING  Auditorium Building  730            62
776  SPEC TOPICS IN MUSICAL THAR SR  Auditorium Building  730            62
784           FRESH/SOPH PERF CLASS  Auditorium Building  730            62

     SeatsAvailable
150              60
151              60
198              10
199               5
210              25
211              24
212              15
213              20
214              15
611              16
615              20
616              20
621              25
658              50
761              50
762              50
776              50
784              20



                       CourseTitle             Building Room  RoomCapacity  \
6              COMPOSITION SEMINAR  Auditorium Building  964            30
7              COMPOSITION SEMINAR  Auditorium Building  964            30
290  PRO PERFORM ARTIST IN SOCIETY  Auditorium Building  964            30
462            LATIN JAZZ ENSEMBLE  Auditorium Building  964            30
541                     JAZZ FORUM  Auditorium Building  964            30
587              STRING TECHNIQUES  Auditorium Building  964            30
592    SECONDARY GEN MUSIC METHODS  Auditorium Building  964            30

     SeatsAvailable
6                20
7                20
290              30
462              99
541              50
587              15
592              15



                      CourseTitle             Building Room  RoomCapacity  \
588           MUSIC EDUCATION LAB  Auditorium Building  610            30
591     ISSUES IN MUSIC EDUCATION  Auditorium Building  610            30
641  INTRO TO PERFORMING ART TECH  Auditorium Building  610            30
642  INTRO TO PERFORMING ART TECH  Auditorium Building  610            30
643  INTRO TO PERFORMING ART TECH  Auditorium Building  610            30
644  INTRO TO PERFORMING ART TECH  Auditorium Building  610            30
645  INTRO TO PERFORMING ART TECH  Auditorium Building  610            30
646  INTRO TO PERFORMING ART TECH  Auditorium Building  610            30
647  INTRO TO PERFORMING ART TECH  Auditorium Building  610            30
648  INTRO TO PERFORMING ART TECH  Auditorium Building  610            30

     SeatsAvailable
588              30
591              30
641              20
642              40
643              20
644              20
645              20
646              20
647              40
648              40



                       CourseTitle             Building Room  RoomCapacity  \
603               PIANO PEDAGOGY I  Auditorium Building  713            25
619   MUSICIANSHIP I: PIANO SKILLS  Auditorium Building  713            25
620   MUSICIANSHIP I: PIANO SKILLS  Auditorium Building  713            25
622  MUSICIANSHIP III:PIANO SKILLS  Auditorium Building  713            25
623  MUSICIANSHIP III:PIANO SKILLS  Auditorium Building  713            25
652      APPLIED KEYBOARD SKILLS I  Auditorium Building  713            25

     SeatsAvailable
603              10
619              16
620              16
622              16
623              16
652              16



                  CourseTitle             Building Room  RoomCapacity  \
764  FUNDAMENTALS OF ACTING I  Auditorium Building  782            24

     SeatsAvailable
764              25



                       CourseTitle             Building Room  RoomCapacity  \
113  POLYPHONY ON THE PAGE & STAGE  Auditorium Building  601            20
114  POLYPHONY ON THE PAGE & STAGE  Auditorium Building  601            20
115    POLYPHONY ON THE PAGE/STAGE  Auditorium Building  601            20
537                  JAZZ THEORY I  Auditorium Building  601            20

     SeatsAvailable
113              15
114              15
115              15
537              20



                        CourseTitle             Building Room  RoomCapacity  \
89                    BIOSTATISTICS  Auditorium Building  309            20
90                    BIOSTATISTICS  Auditorium Building  309            20
91             BIOCHEMISTRY SEMINAR  Auditorium Building  309            20
92             BIOCHEMISTRY SEMINAR  Auditorium Building  309            20
224                    BIOCHEMISTRY  Auditorium Building  309            20
225                    BIOCHEMISTRY  Auditorium Building  309            20
359  THEORIES/DYNAMIC GROUP COUNSEL  Auditorium Building  309            20
426  COMPI: CRITICAL READ & WRITING  Auditorium Building  309            20

     SeatsAvailable
89               24
90               24
91               30
92               30
224              40
225              40
359              40
426              24



                       CourseTitle             Building Room  RoomCapacity  \
140  MUSICIANSHIP I, WRITTEN/AURAL  Auditorium Building  662            48
141  MUSICIANSHIP I, WRITTEN/AURAL  Auditorium Building  662            48
142  MUSICIANSHIP I, WRITTEN/AURAL  Auditorium Building  662            48
143  MUSICIANSHIP I, WRITTEN/AURAL  Auditorium Building  662            48
144  MUSICIANSHIP I, WRITTEN/AURAL  Auditorium Building  662            48
145  MUSICIANSHIP I, WRITTEN/AURAL  Auditorium Building  662            48
146  MUSICIANSHIP I, WRITTEN/AURAL  Auditorium Building  662            48
147  MUSICIANSHIP I, WRITTEN/AURAL  Auditorium Building  662            48
215   ORCH. EXCERPTS - VIOLONCELLO  Auditorium Building  662            48
216   ORCH. EXCERPTS - VIOLONCELLO  Auditorium Building  662            48
287  PRO PERFORM ARTIST IN SOCIETY  Auditorium Building  662            48
288  PRO PERFORM ARTIST IN SOCIETY  Auditorium Building  662            48
463            UNDERGRADUATE OPERA  Auditorium Building  662            48
655   LANG. SKILLS FOR SINGERS III  Auditorium Building  662            48
785            JR/SR OPERA PROJECT  Auditorium Building  662            48

     SeatsAvailable
140              25
141              25
142              25
143              25
144              25
145              25
146              25
147              25
215              10
216              15
287              30
288              30
463              60
655              15
785              50



               CourseTitle             Building  Room  RoomCapacity  \
538   ESSENTIALS OF JAZZ I  Auditorium Building  927D             5
656  THE BUSINESS OF MUSIC  Auditorium Building  927D             5

     SeatsAvailable
538              30
656              40



                       CourseTitle             Building Room  RoomCapacity  \
130          MA CLINICAL PRACTICUM  Auditorium Building  825            25
131  DOCTORAL CLINICAL PRACTICUM 1  Auditorium Building  825            25
132  DOCTORAL CLINICAL PRACTICUM 2  Auditorium Building  825            25
133  DOCTORAL CLINICAL PRACTICUM 3  Auditorium Building  825            25
134  DOCTORAL CLINICAL PRACTICUM 4  Auditorium Building  825            25
700              PSYCHOPATHOLOGY I  Auditorium Building  825            25

     SeatsAvailable
130              14
131              14
132              14
133              14
134              14
700              30



                        CourseTitle             Building Room  RoomCapacity  \
739                  JAZZ, LEVEL II  Auditorium Building  710            24
745                 BALLET, LEVEL I  Auditorium Building  710            24
747                BALLET, LEVEL II  Auditorium Building  710            24
755                CHOREOGRAPHY LAB  Auditorium Building  710            24
760    VOCAL & PHYSICAL PREPARATION  Auditorium Building  710            24
765  VOICE & SPEECH FOR THE ACTOR I  Auditorium Building  710            24
767           INTERMEDIATE ACTING I  Auditorium Building  710            24
775     VOICE & SPEECH IV: DIALECTS  Auditorium Building  710            24

     SeatsAvailable
739              20
745              20
747              20
755              25
760              25
765              25
767              25
775              30



                        CourseTitle             Building Room  RoomCapacity  \
2     INSTRUMENTATION/ORCHESTRATION  Auditorium Building  652            16
3     INSTRUMENTATION/ORCHESTRATION  Auditorium Building  652            16
204  COMPREHENSIVE GUITAR TECHNIQUE  Auditorium Building  652            16
205  COMPREHENSIVE GUITAR TECHNIQUE  Auditorium Building  652            16
604     SUZUKI PEDAGOGY I (VLN/VLA)  Auditorium Building  652            16
605       SUZUKI PEDAGOGY III (VLN)  Auditorium Building  652            16
653       LANG SKILLS FOR SINGERS I  Auditorium Building  652            16

     SeatsAvailable
2                15
3                15
204              15
205              15
604              25
605              10
653              25



                     CourseTitle             Building Room  RoomCapacity  \
763     FUNDAMENTALS OF ACTING I  Auditorium Building  886            16
774  VOICE & SPEECH IV: DIALECTS  Auditorium Building  886            16

     SeatsAvailable
763              25
774              25



                        CourseTitle             Building Room  RoomCapacity  \
772  PERFORM SHAKES/HEIGHTENED TEXT  Auditorium Building  980            30
779               STAGE DIRECTING I  Auditorium Building  980            30

     SeatsAvailable
772              25
779              50

### Wabash Building

In [ ]:
for classes in missing_classes_wb:
    print(class_wb_df[class_wb_df['Room'].isin([classes])][["CourseTitle","Building","Room","RoomCapacity","SeatsAvailable"]])
    print("\n\n")

#Similarly, manually extracting classrooms# All are Lecture Lab
# ['WB 618', --c: 12
#  'WB 427', --c: 20
# 'WB 1217', --c: 12
# 'WB 1021' ] --c: 12

          CourseTitle         Building Room  RoomCapacity  SeatsAvailable
737      JAZZ LEVEL I  Wabash Building  413            45              20
738    JAZZ, LEVEL II  Wabash Building  413            45              20
743   BALLET, LEVEL I  Wabash Building  413            45              20
751  BALLET, LEVEL IV  Wabash Building  413            45              20



                        CourseTitle         Building Room  RoomCapacity  \
125           MA CLINICAL PRACTICUM  Wabash Building  618            12
126   DOCTORAL CLINICAL PRACTICUM 1  Wabash Building  618            12
127   DOCTORAL CLINICAL PRACTICUM 2  Wabash Building  618            12
128   DOCTORAL CLINICAL PRACTICUM 3  Wabash Building  618            12
129   DOCTORAL CLINICAL PRACTICUM 4  Wabash Building  618            12
664  BUS PRACT FOR PROFESSNL SINGER  Wabash Building  618            12

     SeatsAvailable
125              14
126              14
127              14
128              14
129              14
664              20



                       CourseTitle         Building Room  RoomCapacity  \
120          MA CLINICAL PRACTICUM  Wabash Building  427            20
121  DOCTORAL CLINICAL PRACTICUM 1  Wabash Building  427            20
122  DOCTORAL CLINICAL PRACTICUM 2  Wabash Building  427            20
123  DOCTORAL CLINICAL PRACTICUM 3  Wabash Building  427            20
124  DOCTORAL CLINICAL PRACTICUM 4  Wabash Building  427            20

     SeatsAvailable
120              14
121              14
122              14
123              14
124              14



                        CourseTitle         Building  Room  RoomCapacity  \
200  PRINCIPLES OF REAL ESTATE MGMT  Wabash Building  1217            12
729     REAL ESTATE MGMT PRINCIPLES  Wabash Building  1217            12

     SeatsAvailable
200              25
729              25



                       CourseTitle         Building  Room  RoomCapacity  \
265          MA CLINICAL PRACTICUM  Wabash Building  1021            12
266  DOCTORAL CLINICAL PRACTICUM 1  Wabash Building  1021            12
267  DOCTORAL CLINICAL PRACTICUM 2  Wabash Building  1021            12
268  DOCTORAL CLINICAL PRACTICUM 3  Wabash Building  1021            12
269  DOCTORAL CLINICAL PRACTICUM 4  Wabash Building  1021            12
512        FRONT OFFICE MANAGEMENT  Wabash Building  1021            12

     SeatsAvailable
265              14
266              14
267              14
268              14
269              14
512              35

In [58]:
missing_classes = {"AUD":missing_classes_aud, "WB":missing_classes_wb}
print("Missing Classes")
print(missing_classes)

Missing Classes
{'AUD': ['542', '745', '927B', '650', '178', '907', '360', '616', '762', '925', '956', '1080', '1450', '730', '964', '610', '713', '782', '601', '309', '662', '927D', '825', '710', '652', '886', '980'], 'WB': ['413', '618', '427', '1217', '1021']}

### Not Listed as Classrooms and if they are used as Classrooms.

### Auditorium Building

In [90]:
#NAC but Used as Classroom

nac_used = {"AUD":[], "WB":[]}

for classes in nac_classes['AUD']:
    if not(class_aud_df[class_aud_df['Room'].isin([classes])][["CourseTitle","Building","Room"]]).empty:
        nac_used['AUD'].append(classes)
        print(class_aud_df[class_aud_df['Room'].isin([classes])][["CourseTitle","Building","Room"]])
        print("\n\n")

                   CourseTitle             Building Room
303  ENVIRONMENTAL BIOLOGY-LAB  Auditorium Building  542



                      CourseTitle             Building Room
588           MUSIC EDUCATION LAB  Auditorium Building  610
591     ISSUES IN MUSIC EDUCATION  Auditorium Building  610
641  INTRO TO PERFORMING ART TECH  Auditorium Building  610
642  INTRO TO PERFORMING ART TECH  Auditorium Building  610
643  INTRO TO PERFORMING ART TECH  Auditorium Building  610
644  INTRO TO PERFORMING ART TECH  Auditorium Building  610
645  INTRO TO PERFORMING ART TECH  Auditorium Building  610
646  INTRO TO PERFORMING ART TECH  Auditorium Building  610
647  INTRO TO PERFORMING ART TECH  Auditorium Building  610
648  INTRO TO PERFORMING ART TECH  Auditorium Building  610



                        CourseTitle             Building Room
226  FIBER ARTS & FEMINIST PRACTICE  Auditorium Building  650
227  FIBER ARTS & FEMINIST PRACTICE  Auditorium Building  650



                     CourseTitle             Building Room
763     FUNDAMENTALS OF ACTING I  Auditorium Building  886
774  VOICE & SPEECH IV: DIALECTS  Auditorium Building  886



                        CourseTitle             Building Room
217      COMPOSING: ART AND PROCESS  Auditorium Building  907
218      COMPOSING: ART AND PROCESS  Auditorium Building  907
289   PRO PERFORM ARTIST IN SOCIETY  Auditorium Building  907
550  MUSICAL STORYTELLING VIA DUETS  Auditorium Building  907
610       OVERVIEW OF MUSIC HISTORY  Auditorium Building  907
613           LAKERS CHOIR ENSEMBLE  Auditorium Building  907
662       VOCAL COLLAB FOR PIANISTS  Auditorium Building  907



                        CourseTitle             Building Room
172                PIANO ENSEMBLE I  Auditorium Building  956
240           CHAMBER MUSIC (PIANO)  Auditorium Building  956
241           CHAMBER MUSIC (PIANO)  Auditorium Building  956
242           CHAMBER MUSIC (PIANO)  Auditorium Building  956
663  SEM:INSTRUMNTL COLLAB PIANISTS  Auditorium Building  956



                       CourseTitle             Building Room
6              COMPOSITION SEMINAR  Auditorium Building  964
7              COMPOSITION SEMINAR  Auditorium Building  964
290  PRO PERFORM ARTIST IN SOCIETY  Auditorium Building  964
462            LATIN JAZZ ENSEMBLE  Auditorium Building  964
541                     JAZZ FORUM  Auditorium Building  964
587              STRING TECHNIQUES  Auditorium Building  964
592    SECONDARY GEN MUSIC METHODS  Auditorium Building  964

### Wabash Building

In [268]:
for classes in nac_classes['WB']:
    if not(class_wb_df[class_wb_df['Room'].isin([classes])][["CourseTitle","Building","Room"]]).empty:
        nac_used['WB'].append(classes)
        print(class_wb_df[class_wb_df['Room'].isin([classes])][["CourseTitle","Building","Room"]])
        print("\n\n")

                       CourseTitle         Building  Room
265          MA CLINICAL PRACTICUM  Wabash Building  1021
266  DOCTORAL CLINICAL PRACTICUM 1  Wabash Building  1021
267  DOCTORAL CLINICAL PRACTICUM 2  Wabash Building  1021
268  DOCTORAL CLINICAL PRACTICUM 3  Wabash Building  1021
269  DOCTORAL CLINICAL PRACTICUM 4  Wabash Building  1021
512        FRONT OFFICE MANAGEMENT  Wabash Building  1021



                        CourseTitle         Building  Room
200  PRINCIPLES OF REAL ESTATE MGMT  Wabash Building  1217
729     REAL ESTATE MGMT PRINCIPLES  Wabash Building  1217



                        CourseTitle         Building Room
125           MA CLINICAL PRACTICUM  Wabash Building  618
126   DOCTORAL CLINICAL PRACTICUM 1  Wabash Building  618
127   DOCTORAL CLINICAL PRACTICUM 2  Wabash Building  618
128   DOCTORAL CLINICAL PRACTICUM 3  Wabash Building  618
129   DOCTORAL CLINICAL PRACTICUM 4  Wabash Building  618
664  BUS PRACT FOR PROFESSNL SINGER  Wabash Building  618

## So far, we have an Eligbile Classrooms Dataframe. We need to add the extracted AUD and WB classrooms.

### We have also omitted performance arts from our analysis. therefore, we do not consider taking into account PerfArts Classrooms or Courses while cleaning

In [181]:


# We need to add the extra classes. Let's add them manually
new_loc = {'AUD 542':'Biology Lab', 
            'AUD 360' : 'Lecture', 
            'AUD 309' : 'Chemistry Lab', 
            'AUD 825': 'Lecture',
            'WB 618': 'Lecture', 
            'WB 427': 'Lecture', 
            'WB 1217': 'Lecture', 
            'WB 1021': 'Lecture'}

#capacity_updates
new_cap_loc = {'AUD 542':'24', 
            'AUD 360' : '18', 
            'AUD 309' : '20', 
            'AUD 825': '25',
            'WB 618': '12', 
            'WB 427': '20', 
            'WB 1217': '12', 
            'WB 1021': '12'}

append_data_df = pd.DataFrame([
    {
        'Location Name': loc,
        'Max Capacity': new_cap_loc.get(loc, ""),
        'Default Layout': layout,
        'Default Layout Capacity': None,  # No data, keeping it empty
        'Comments': "Added based on Current Fall2024 Schedule usage",
        'Default Instructions': ""  # Keeping it blank for now
    } 
    for loc, layout in new_loc.items()
])

In [189]:
append_data_df

#elig_df.head(20)

,Location Name,Max Capacity,Default Layout,Default Layout Capacity,Comments,Default Instructions
0,AUD 542,24,Biology Lab,None,Added based on Current Fall2024 Schedule usage,
1,AUD 360,18,Lecture,None,Added based on Current Fall2024 Schedule usage,
2,AUD 309,20,Chemistry Lab,None,Added based on Current Fall2024 Schedule usage,
3,AUD 825,25,Lecture,None,Added based on Current Fall2024 Schedule usage,
4,WB 618,12,Lecture,None,Added based on Current Fall2024 Schedule usage,
5,WB 427,20,Lecture,None,Added based on Current Fall2024 Schedule usage,
6,WB 1217,12,Lecture,None,Added based on Current Fall2024 Schedule usage,
7,WB 1021,12,Lecture,None,Added based on Current Fall2024 Schedule usage,

In [206]:
allroom_df = pd.concat([elig_df,append_data_df], ignore_index=True)
allroom_df=allroom_df.sort_values(by="Location Name",ascending=True,ignore_index=True)

In [247]:
allroom_df[allroom_df['Default Layout']=='Science Lab']

,Location Name,Max Capacity,Default Layout,Default Layout Capacity,Comments,Default Instructions
70,WB 711,18,Science Lab,18,NaN,NaN
71,WB 713,24,Science Lab,24,NaN,NaN
72,WB 810,30,Science Lab,30,NaN,NaN
73,WB 811,24,Science Lab,24,NaN,NaN
74,WB 815,24,Science Lab,24,NaN,NaN

In [209]:
allroom_df['Default Layout'].unique()

#We need to find if classrooms listed as
#    'Seminar' , 'Learning Lab', 'Art studio', 'Learning lab', 'Biology Lab', 'Conference',
#       'Nursing Lab', 'Custom', 'Tiered', 'Conference r', 'Computer Lab',
#       'Drafting Room', 'As Is', 'Science Lab', 'LOKED', nan. 'Multimedia Lab', 'Math Lab', 'Class room'

#has been used as classroom in fall2024. Once, we are able to do this. We can then, reevaluate Default Layout for each of these values, so that we only have
# Lecture, Lab. The comments should include what lab, a particular classroom can be used for

array(['Lecture', 'Seminar', 'Chemistry Lab', 'Multimedia Lab',
       'Learning Lab', 'Math lab', nan, 'LOKED', 'Class room',
       'Art studio', 'Learning lab', 'Biology Lab', 'Conference',
       'Nursing Lab', 'Custom', 'Tiered', 'Conference r', 'Computer Lab',
       'Drafting Room', 'As Is', 'Science Lab', 'Physics Lab'],
      dtype=object)

In [210]:
filters = ['Lecture']
non_lect_classes = list(allroom_df[~allroom_df['Default Layout'].isin(filters)]['Location Name'])

In [212]:
nonlect_elig_classes= {"AUD":[], "WB":[]}

for room in non_lect_classes:
    if (room.split()[0]) == "AUD":
        nonlect_elig_classes["AUD"].append(room.split()[-1])
    else:
        nonlect_elig_classes["WB"].append(room.split()[-1])


print(nonlect_elig_classes)

{'AUD': ['308', '309', '314', '362', '403A', '406', '410', '412', '414', '430', '440', '452', '506', '516', '518', '534', '542', '586', '603', '704', '716', '720', '724'], 'WB': ['1016', '1017', '1019', '1111', '1210', '1212', '1214', '411', '416', '611', '612', '711', '713', '810', '811', '815', '910', '911', '912']}

In [ ]:
class_aud_df[class_aud_df['Room'].isin(['586'])][['CourseTitle','Room','Subject']] #maybe remove each '586' with an instance of class, and then, print existing df. based on that, ask inpiut for Default Layout and Comment.
#We can then replace existing with new Def.Layout and Comment

Empty DataFrame
Columns: [CourseTitle, Room, Subject]
Index: []

In [248]:
class_wb_df[class_wb_df['Room'].isin(['711'])][['CourseTitle','Room','Subject']]

                        CourseTitle Room Subject
170    ANALYTICAL CHEM - DISC & LAB  711    CHEM
171    ANALYTICAL CHEM - DISC & LAB  711    CHEM
333  GENERAL CHEMISTRY I-DISC & LAB  711    CHEM
345  ORGANIC CHEMISTRY I-DISC & LAB  711    CHEM
347  ORGANIC CHEMISTRY I-DISC & LAB  711    CHEM
349  ORGANIC CHEMISTRY I-DISC & LAB  711    CHEM
352  ORGANIC CHEMISTRY II-DISC &LAB  711    CHEM

### WE now need to add the missing classes in this merged_df to have a working fullset of all classes available. 

At least that is our constraint based on polluted data

## Courses

### Must extract all courses

In [250]:
curr_class = class_df.iloc[:,7:]

In [251]:
print("Unique Courses Offered in Curr 2024 File:", len(curr_class['CourseTitle'].unique()))
curr_class['CourseTitle'].unique()

Unique Courses Offered in Curr 2024 File: 445

array(['LAW AND ETHICS', 'INSTRUMENTATION/ORCHESTRATION',
       'IPHONE/DEMOCRATIC CAMERA', 'COMPOSITION SEMINAR',
       'WRITING FOR NONPROFITS', 'DATA MINING', 'ELEMENTARY STATISTICS',
       'REGRESSION & TIME SERIES', 'PAINTING I', 'PAINTING II',
       'ADVANCED PAINTING I', 'ADVANCED PAINTING II', 'CERAMICS I',
       'CERAMICS II', 'ADVANCED CERAMICS I', 'ADVANCED CERAMICS II',
       'STRATEGIC PLANNING PUBLIC SECT', 'STRATEGIC PLANNING FOR PUB ADM',
       'OPERATING SYSTEMS', 'QUANTITATIVE ANALYSIS FOR MGRS',
       'STATISTICS FOR BUS DECISIONS', 'CRIM JUST & THE CONSTITUTION',
       'US CONSTITUTIONAL LAW', 'INTELLIGENT SYSTEMS',
       'CAREERS IN HEALTH SCIENCES', 'AFRICAN-AMER HISTORY:1619-1877',
       'FOUNDATIONS & COMMUNITY', 'MET TCH MATH & SCI IN K-8',
       'METH TCH MATH /SCI IN K-8', 'METH TCH MATH/SCI IN K-8 ED',
       'TOP. PERSIAN LETTERS', 'PERSIAN LETTERS',
       'CURRICULUM, INSTR & ASSESSMENT', 'CURRICULUM, INSTR & ASSESS',
       'TOP:GENDER, RACE & POWER', 'TOP:GENDER, RACE, & POWER',
       'TOP: RACE, GENDER, & POWER', 'MTDS TEACH SECONDARY BUS EDUC',
       'MATH & SCIENCE IN ECHD', 'MATH & SCIENCE IN ECHD EDUC',
       'ETHICS & PROFESSIONALISM', 'LEGAL RESEARCH', 'CIVIL LAW',
       'LITIGATION I', 'COLOR AND DESIGN HISTORY', 'MEDIA WRITING',
       'COMBINATORICS', 'FICTION FORMS WORKSHOP',
       'TOPICS: FICTION WORKSHOP', 'NAZI GERMANY', 'BIOSTATISTICS',
       'BIOCHEMISTRY SEMINAR', 'GENERAL GENETICS - LAB', 'VIROLOGY',
       'PHYSIOLOGY: MECH. & DISORDERS', 'MICROBIOLOGY-LECTURE',
       'MICROBIOLOGY-LAB', 'SOFTWARE ENGINEERING I',
       'TOP:ADV SOFTWARE ENGINEERING', 'PROBABILITY THEORY',
       'ADVANCED PROBABILITY', 'MA CLINICAL PRACTICUM',
       'DOCTORAL CLINICAL PRACTICUM 1', 'DOCTORAL CLINICAL PRACTICUM 2',
       'DOCTORAL CLINICAL PRACTICUM 3', 'DOCTORAL CLINICAL PRACTICUM 4',
       'POLYPHONY ON THE PAGE & STAGE', 'POLYPHONY ON THE PAGE/STAGE',
       'MUSICIANSHIP I, WRITTEN/AURAL', 'TOP: COMMUNITY ORGANIZING',
       'COMMUNITY ORGANIZING', 'PERFORMANCE ANALYSIS',
       'STRING PERFORMANCE CLASS', 'STRING & GUITAR PERF CLASS',
       'INTRO TO FINANCIAL ACCOUNTING', 'INTRODUCTION TO ACCOUNTING',
       'COUPLES AND FAMILY THERAPY', 'COUPLES & FAMILY COUNSELING',
       'FERMENTATION SCIENCE', 'ANALYTICAL CHEM - DISC & LAB',
       'PIANO ENSEMBLE I', 'COMPUTER NETWORKING', 'DATABASE SYSTEMS',
       'ALGORITHM DESIGN', 'PSYC STUDY OF RACISM',
       'APPLICS OF BIOTECHNOLOGY', 'ALEXANDER TECHNIQUE',
       'INTRO TO SOC JUSTICE STUDIES', 'INTRO SOCIAL JUSTICE STUDIES',
       'FINANCIAL STATEMENT ANALYSIS', 'WHAT IS TRUTH/FAKE NEWS?',
       'LARGE INSTRUMENTAL ENSEMBLE', 'CLASSICAL GUITAR ENSEMBLE',
       'INTRO ELECTROACOUSTIC MUSIC', 'PERCUSSION ENSEMBLE',
       'ORCHESTRAL EXCERPTS - BASS', 'PRINCIPLES OF REAL ESTATE MGMT',
       'PERCUSSION PERFORMANCE CLASS', 'COMPREHENSIVE GUITAR TECHNIQUE',
       'ORCHESTRAL EXCERPTS - VIOLA', 'PIANO & HARP PERFORMANCE CLASS',
       'PERF PRACT: INFL/DECIS/POSIT', 'ORCHESTRAL EXCERPTS - VIOLIN',
       'INTRO TO VIOLA FOR VIOLINIST', 'ORCHESTRAL EXCEPTS - VIOLIN',
       'ORCH. EXCERPTS - VIOLONCELLO', 'COMPOSING: ART AND PROCESS',
       'INCOME & EMPLOYMENT THEORY', 'MACROECONOMIC THEORY',
       'DIGITAL PHOTOGRAPHY', 'INTRODUCTION TO PHOTOGRAPHY',
       'BIOCHEMISTRY', 'FIBER ARTS & FEMINIST PRACTICE',
       'MARKETING RESEARCH', 'THE ART OF PERSUASION',
       'PHILOSOPHY & CRIME NARRATIVES', 'NETWORK SCIENCE',
       'CREAT. NONFIC FORMS WORKSHOP', 'TOPICS: NON FICTION WORKSHOP',
       'CHAMBER MUSIC (PIANO)', 'COMPUTER SCIENCE I', 'INVESTMENTS',
       'INVESTMENTS HONOR', 'ORGANIZATIONAL DEVELOPMENT',
       'ORGANIZATION DEVELOPMENT', 'SYSTEMS PROGRAMMING',
       'CAMPAIGN PLANNING', 'BASIC CLINICAL SKILLS',
       'ECHD CURR & ASSMT: PRESCHOOL', 'EARLY CHILD CURR & ASSESS:PRE',
       'REAL ESTATE MARKET ANALYSIS', 'URBAN LAND ECONOMICS',
       'INTRO TO MANAGERIAL ACCOUNTING', 'INCOME TAX LAW AND PROCEDURE',
       'ACCOUNTING FOR EXECUTIVES', 'ISSUES IN ASSET VALUATION',
       'PROF PRACTICE OF AUDITING', 'ADV COST & MANAGERIAL ACCTG',
       'ACCOUNTING INFORMATION SYSTEMS', 'FEDERAL TAXATION',
       'ACCOUNTING RESEARCH & ANALYSIS', 'LIFE SCIENCE BIOLOGY',
       'HUMAN ANATOMY &PHYSIOLOGY II', 'PHARMACOLOGY FOR NURSING',
       'ADVANCED EXERCISE PHYSIOLOGY', 'INTRO TO THE VISUAL ARTS',
       'ANCIENT THROUGH MEDIEVAL ART', 'PRO PERFORM ARTIST IN SOCIETY',
       'INTRODUCTION TO BUSINESS', 'INTRODUCTION TO BUSINESS HON',
       'BUSINESS COMMUNICATIONS', 'HUMAN BIOLOGY-LECT',
       'HUMAN BIOLOGY-LAB', 'HUMAN BIOLOGY - LAB',
       'ENVIRONMENTAL BIOLOGY-LECT', 'ENVIRONMENTAL BIOLOGY-LAB',
       'ANATOMY & PHYSIOLOGY I-LECT', 'ANATOMY & PHYSIOLOGY I-LAB',
       'ANATOMY &PHYSIOLOGY I - LAB', 'ANATOMY &PHYSIOLOGY I-lect',
       'ORGANISMIC BIOLOGY- LECT', 'ORGANISMIC BIOLOGY - LAB',
       'ECOL, EVOLUTION & GENETIC-LECT', 'ECOL, EVOLUTION & GENETIC-LAB',
       'ECOL, EVOLUTION &GENETIC - LAB', 'CELLULAR &MOLECULAR BIOL-LECT',
       'CELLULAR & MOLECULAR BIOL-LAB', 'CELLULAR &MOLECULAR BIOL-LAB',
       'RESEARCH METHODS', 'BUSINESS LAW I', 'FOUNDATIONS OF CHEMISTRY',
       'GENERAL CHEMISTRY I-LECT', 'GENERAL CHEMISTRY I-DISC & LAB',
       'GENERAL CHEMISTRY II-LECT', 'GENERAL CHEMISTRY II-DISC& LAB',
       'ORGANIC CHEMISTRY I - LECT', 'ORGANIC CHEMISTRY I-DISC & LAB',
       'ORGANIC CHEMISTRY II-LECT', 'ORGANIC CHEMISTRY II-DISC &LAB',
       'PROF ORIENT & ETHICAL PRACTICE', 'FOUNDATIONS OF COUNSEL THEORY',
       'SCHOOL COUNS., ENV. & CONSULT.', 'CAREER AND LIFE-STYLE PLANNING',
       'ORG, ADM, & LEAD OF COUN PROG', 'DIAGNOSIS & TREATMENT PLANNING',
       'THEORIES/DYNAMIC GROUP COUNSEL', 'THEORIES/DYNAMIC GRP COUN-LAB',
       'PRE_PRAC I: BASIC COUN SKILLS', 'CHILD & ADOLESCENT COUNSELING',
       'INTERNSHIP: SCHOOL COUNSEL', 'INTERNSHIP:CLIN MENTAL HEALTH',
       'INTRO TO CRIMINAL JUSTICE', 'INTRODUCTION TO CRIMINOLOGY',
       'POLICE & SOCIETY', 'VICTIMOLOGY', 'PUBLIC SPEAKING',
       'PUBLIC SPEAKING(HON)', 'COMMUNICATION IN THE INFO AGE',
       'INTRO TO CREATIVE WRITING', 'CYBER ETHICS, PRIVACY, & LEGAL',
       'SECURE SOFTWARE ENGINEERING', 'COMPUTER FORENSICS',
       'ESSENTIAL COMPUTER SKILLS', 'INTRODUCTION TO ALGORITHMS',
       'ADVANCED ALGORITHMS', 'DEEP LEARNING',
       'TYPOGRAPHY AND GRAPHIC DESIGN', 'VIDEO FOR GRAPHIC DESIGNERS',
       'PACKAGING DESIGN', 'PRINCIPLES OF ECONOMICS I',
       'PRINCIPLES OF ECONOMICS II', 'BECOMING A SJ EDUCATOR',
       'COMPI: CRITICAL READ & WRITING', 'COMPII:INTRO ACADEMIC RESEARCH',
       'SHAKESPEARE IN CONTEXT', 'AMERICAN LITERATURE TO 1865',
       'INTRO TO LITERARY ANALYSIS', 'WRITING TUTOR PRACTICUM (HON)',
       'WRTG TUTOR PRACTICUM (HON)', 'LAKERS BAND', 'LATIN JAZZ ENSEMBLE',
       'UNDERGRADUATE OPERA', 'CCPA OPERA', 'FILM HISTORY',
       'PERSONAL FINANCE', 'PRINCIPLES OF FINANCE', 'CORPORATE FINANCE',
       'FINANCE FOR DECISION MAKERS', "INT'L FINANCIAL ANALYSIS",
       'EXERCISE SCI', 'FITNESS ASSESS', 'ATHLETIC TRAINING & TAPING',
       'STRENGTH & CONDITIONING', 'BEGINNING FRENCH I',
       'FIRST YEAR SUCCESS COURSE', 'ADV DATA MGMT & ANALYTICS HEAL',
       'SOC & ORG ISSUES HEALTH INFO', 'THE UNITED STATES TO 1865',
       'THE UNITED STATES SINCE 1865', 'THE WORLD TO 1500',
       'TOP:REVOL & REACT MOD WORLD', 'READINGS IN US HIST SINCE 1877',
       'HONORS RESEARCH PRO-SEMINAR', 'INTRO TO HOSPITALITY INDUSTRY',
       'FRONT OFFICE MANAGEMENT', 'RESEARCH METHODS IN HOSP MGMT',
       'ORGANIZATIONAL DEVEL FOR HOSP', 'URBAN TOURISM ADMINISTRATION',
       'INTRO TO SPORTS AS BUSINESS', 'APPLIED RESRCH METHOD IN HOSM',
       'GRADUATE SEMINAR IN LODGING', 'HUMAN RESOURCE MANAGEMENT',
       'RECRUITING AND STAFFING', 'STRATEGIC ISSUES HUMAN RESOURC',
       'HR ANALYTICS', 'INTRO TO HEALTH SERVICE',
       'IMC PRINCIPLES/BEST PRACTICES', 'MKTG COMMUNICATIONS RESEARCH',
       'BRAND PLANNING AND MSG STRAT', 'MANAGEMENT INFORMATION SYSTEMS',
       'INFORMATION MANAGEMENT', 'DATA ANALYTICS & MANAGEMENT',
       'BUS ANALYTICS & STAT INFER MOD', 'PREDICTIVE BUS DATA ANALYTICS',
       'DATA VISUALIZATION', 'BUSINESS ANALYTICS CAPSTONE',
       'BEGINNING ITALIAN I', 'JAZZ THEORY I', 'ESSENTIALS OF JAZZ I',
       'JAZZ PIANO TECHNIQUES I', 'COMPOSITION & ARRANGING I',
       'JAZZ FORUM', 'IMPROVISATION I', 'INTRODUCTION TO MEDIA THEORY',
       'INTRO TO MULTIMEDIA PRODUCTION', 'PUBLIC OPINION & PROPAGANDA',
       'BMA COLLOQUIUM (HON)', 'TEXT & ACT: INTRO GRAD MUSIC',
       'Constructing Musical Monuments', 'MUSICAL STORYTELLING VIA DUETS',
       'TOP:ON PERFORMANCE', 'MATHEMATICAL FOUNDATIONS',
       'ALGEBRAIC FOUNDATIONS', 'FOUNDATIONS OF ARITHMETIC',
       'QUANTITATIVE LITERACY', 'COLLEGE ALGEBRA',
       'TRIGONOMETRY AND PRECALCULUS', 'CALCULUS I', 'CALCULUS III',
       'DISCRETE STRUCTURES', 'INTRO TO PROOF', 'STRING TECHNIQUES',
       'MUSIC EDUCATION LAB', 'ELEMENTS OF CONDUCTING',
       'INST METH FOR ELEM/JUNIOR HIGH', 'ISSUES IN MUSIC EDUCATION',
       'SECONDARY GEN MUSIC METHODS', 'OPERATIONS MANAGEMENT',
       'ETHICAL LEADERSHIP AND CSR', 'ORGANIZATIONAL BEHAVIOR',
       'SURVEY OF INTERNATIONAL BUS', 'BUSINESS POLICY AND STRATEGY',
       'PEOPLE MGMT & ORG BEHAVIOR', 'STRATEGIC MANAGEMENT',
       'PRINCIPLES OF MARKETING', 'MKTG STRAT: THEORY & PRACTICE',
       'COMM & CONSUMER BEHAVIOR', 'PIANO PEDAGOGY I',
       'SUZUKI PEDAGOGY I (VLN/VLA)', 'SUZUKI PEDAGOGY III (VLN)',
       'ACTING FOR THE MUSICAL STAGE I', 'ACTING FOR MUSICAL STAGE III',
       'ENSEMBLE FOR MUSICAL STAGE I', 'OVERVIEW OF MUSIC HISTORY',
       'BEGINNING VOICE', 'LAKERS BAND ENSEMBLE', 'LAKERS CHOIR ENSEMBLE',
       'LAKERS JAZZ ENSEMBLE', 'MUSICIANSHIP I:WRITTEN SKILLS',
       'MUSICIANSHIP I:PIANO SKILLS', 'MUSICIANSHIP I: PIANO SKILLS',
       'MUSICIANSHIP III WRITTEN/AURAL', 'MUSICIANSHIP III:PIANO SKILLS',
       'FOUNDATIONS OF PROF NURSING', 'NURSING ASSESS',
       'PSY HEALTH NURSING (LECT)', 'NURS ASSESS1',
       'RESEARCH METHODS FOR HEALTHCAR', 'ADULT MED NURS3 (LECT)',
       'NURS ASSESS5', 'ADULT MED/SURGICAL: NURS IV',
       'NURSING ASSESSMENT VI', 'PUBLIC SERVICE IN THE U.S.',
       'PUBLIC BUDGET & FINANCIAL MGT', 'INTRO TO PERFORMING ART TECH',
       'MUSIC TECHNOLOGY I', 'WHAT IS LAW?', 'APPLIED KEYBOARD SKILLS I',
       'LANG SKILLS FOR SINGERS I', 'LANG. SKILLS FOR SINGERS III',
       'THE BUSINESS OF MUSIC', 'BRASS PERFORMANCE CLASS',
       'WOODWIND PERFORMANCE CLASS', 'ORCH AUDITION WORKSHOP PREP',
       'ORCHESTRAL AUDITION WORKSHOP', 'ORCHESTRAL SEMINAR I',
       'VOCAL COLLAB FOR PIANISTS', 'SEM:INSTRUMNTL COLLAB PIANISTS',
       'BUS PRACT FOR PROFESSNL SINGER', 'INTRODUCTION TO PHILOSOPHY',
       'PHILOSOPHIES OF LIFE', 'HISTORY OF PHILOSOPHY',
       'PHILOSOPHY OF RELIGION', 'LOGIC', 'GLOBAL CLIMATE CHANGE',
       'INTRO TO ENVIRONMENTAL SCI', 'PHYS I: MECHANICS &HEAT',
       'PHYS I: MECHANICS & HEAT-LAB', 'CALC-BASED PHYS I DISCUSSION',
       'KBD SKILLS FOR MUS EDUCATOR', 'UNITED STATES POLITICS',
       'UNITED STATES POLITICS (HON)', 'INTRO TO INTERNAT. RELATIONS',
       'TOP:ELECTING A PRESIDENT', 'INTRODUCTORY PSYCHOLOGY',
       'HUMAN SEXUALITY', 'INTRODUCTORY STATISTICS',
       'ABNORMAL PSYCHOLOGY', 'LEARNING & DEV. DISABILITIES',
       'SOCIAL PSYCHOLOGY', 'SENSATION AND PERCEPTION',
       'PSYC OF VIOLENCE', 'OLDER ADULTHOOD AND AGING',
       'LATINX CHILDREN &FAMILIES(HON)', 'INTERMEDIATE STATISTICS',
       'ORGANIZATIONAL PSYCHOLOGY', 'PERSONNEL PSYCHOLOGY',
       'FOUNDATIONS OF COUNSELING', 'PSYCHOPATHOLOGY',
       'PSYCHOPATHOLOGY I', 'ADVANCED RESEARCH METHODS',
       'HUMAN DEVELOPMENT', 'INTELLECTUAL ASSESSMENT',
       'THEORIES OF COUNSELING & PSYCH', 'COGNITIVE BEHAVIORAL THERAPY I',
       'PSYCHODYNAMIC COUNSELING', 'PSYCHODYNAMIC THEORY I',
       'MULTICULTURAL COUNSELING', 'GROUP COUNSELING',
       'INSTRUCTIONAL DESIGN/TRAINING', 'CONSULTING SKILLS',
       'INSTRUCTOR DEVELOPMENT PROG', 'MA CLINICAL INTERNSHIP',
       'COG,AFF, & LEARNED BASE OF BEH', 'CLIN SUPERVISON & CONSULTATION',
       'SEX ORIENT & GENDER  DIV', 'INTRO TO COMMERCIAL RE',
       'REAL ESTATE LAW', 'REAL ESTATE PROCESS',
       'QUANTITATIVE METHODS REES', 'FINANCIAL MODELING FOR REES',
       'REAL ESTATE MGMT PRINCIPLES', 'INTRODUCTION TO SOCIOLOGY',
       'BEGINNING SPANISH I', 'IMMIGRATION PAST AND PRESENT', 'WATER',
       'FOOD', 'CORE STYLES & TECH BALLET 1', 'JAZZ LEVEL I',
       'JAZZ, LEVEL II', 'JAZZ, LEVEL III', 'JAZZ, LEVEL IV',
       'BALLET, LEVEL I', 'BALLET, LEVEL II', 'BALLET, LEVEL III',
       'BALLET, LEVEL IV', 'TAP, LEVEL I', 'TAP, LEVEL II',
       'TAP, LEVEL III', 'CHOREOGRAPHY LAB',
       'SPECIAL TOPICS: MUSICAL THEATR', 'BEGINNING/INTERMEDIATE TAP II',
       'CORE STYLES & TECH BALLET 3', 'VOCAL & PHYSICAL PREPARATION',
       'ENSEMBLE SINGING', 'FUNDAMENTALS OF ACTING I',
       'VOICE & SPEECH FOR THE ACTOR I', 'INTERMEDIATE ACTING I LAB',
       'INTERMEDIATE ACTING I', 'ACTING ON CAMERA I',
       'PERFORM SHAKES/HEIGHTENED TEXT', 'VOICE & SPCH FOR THE ACTOR III',
       'VOICE & SPEECH IV: DIALECTS', 'SPEC TOPICS IN MUSICAL THAR SR',
       'ACTING ON CAMERA II', 'AUDITION AND THEATRE BUSINESS',
       'STAGE DIRECTING I', 'STAGE COMBAT I',
       'PHYSICAL THEATRE CIRCUS SKILLS', 'PREPARING TO TA IN COLLEGE',
       'FRESH/SOPH PERF CLASS', 'JR/SR OPERA PROJECT',
       'GRAD PERFORMANCE CLASS', 'GENDER JUSTICE',
       'SEX AND GENDER IN THE CITY'], dtype=object)

In [252]:
course_reg = pd.read_csv('resources/Course Registrations And Student Majors Fall2024.csv')

In [255]:
course_reg_valid_campus = course_reg[course_reg['Course_Campus'].isin(['1'])]  # 1: Chicago campus, 8: Online

In [256]:
print("Unique Courses Offered in Course Reg File:", len(course_reg_valid_campus['CourseTitle'].unique()))

Unique Courses Offered in Course Reg File: 637

In [257]:
CE_courses = curr_class['CourseTitle'].unique()
StuReg_courses = course_reg_valid_campus['CourseTitle'].unique()

In [259]:

print("NumCount: ",len(set(CE_courses) - set(StuReg_courses)))
set(CE_courses) - set(StuReg_courses)

NumCount:  37

{'ADVANCED CERAMICS II',
 'ADVANCED PAINTING II',
 'ANALYTICAL CHEM - DISC & LAB',
 'APPLIED KEYBOARD SKILLS I',
 'ATHLETIC TRAINING & TAPING',
 'BEGINNING VOICE',
 'BEGINNING/INTERMEDIATE TAP II',
 'CELLULAR &MOLECULAR BIOL-LAB',
 'COMMUNITY ORGANIZING',
 'COMPREHENSIVE GUITAR TECHNIQUE',
 'CORE STYLES & TECH BALLET 1',
 'CORE STYLES & TECH BALLET 3',
 'Constructing Musical Monuments',
 'DOCTORAL CLINICAL PRACTICUM 4',
 'ENSEMBLE SINGING',
 'FRESH/SOPH PERF CLASS',
 'INSTRUMENTATION/ORCHESTRATION',
 'INTRO TO LITERARY ANALYSIS',
 'INTRO TO VIOLA FOR VIOLINIST',
 'JAZZ PIANO TECHNIQUES I',
 'JAZZ THEORY I',
 'JR/SR OPERA PROJECT',
 'LAKERS CHOIR ENSEMBLE',
 'LAKERS JAZZ ENSEMBLE',
 'METH TCH MATH /SCI IN K-8',
 'METH TCH MATH/SCI IN K-8 ED',
 'OVERVIEW OF MUSIC HISTORY',
 'POLYPHONY ON THE PAGE/STAGE',
 'QUANTITATIVE ANALYSIS FOR MGRS',
 'READINGS IN US HIST SINCE 1877',
 'SPEC TOPICS IN MUSICAL THAR SR',
 'STAGE DIRECTING I',
 'STRATEGIC PLANNING PUBLIC SECT',
 'STRING & GUITAR PERF CLASS',
 'SUZUKI PEDAGOGY III (VLN)',
 'TOP: COMMUNITY ORGANIZING',
 'URBAN TOURISM ADMINISTRATION'}

In [260]:
print("NumCount: ",len(set(StuReg_courses) - set(CE_courses)))
set(StuReg_courses) - set(CE_courses)

NumCount:  229

{'ACADEMIC MAJOR JR/SR JURY',
 'ACADEMIC MAJOR RECITAL',
 'ACCT INFO SYSTEMS',
 'ACTUARIAL CAREER',
 'ADV ACT: MOD REALISM/HIST STYL',
 'ADV STUDY/ PERF ORCH EXCERPTS',
 'ADV STUDY/ PERF ORCH REP III',
 'ADV STUDY/PERF ORCH EXERPTS',
 'ADV STUDY/PERF ORCH REP',
 'ADVANCED ORCHESTRATION',
 'AMERICAN SIGN LANGUAGE I',
 'APPLIED KEYBOARD SKILLS III',
 'ARTIST DIPLOMA PIANO',
 'BIOLOGY INTERNSHIP',
 'BIOPSYCHOLOGY',
 'CALCULUS II',
 'CCPA CURR PRACTICAL TRAINING',
 'CCPA CURRICUL. PRACT. TRAINING',
 'CHAMBER MUSIC (BRASS)',
 'CHAMBER MUSIC (STRINGS)',
 'CHAMBER MUSIC (WIND)',
 'CHAMBER MUSIC (WINDS/BRASS)',
 'CHOR METH FOR ELEM/JR HIGH',
 'CLARINET (DIPLOMA)',
 'CLARINET (LOWER DIV)',
 'CLARINET (UPPER DIV)',
 'CLINICAL INTERNSHIP',
 'CLINICAL INTERNSHIP COMPLETION',
 'COACHING & FIELD EXP.  3',
 'COMMERCIAL LAW',
 'COMPOSITION (BMA)',
 'COMPOSITION (MAJOR)',
 'COMPOSITION V',
 'COMPUTER SCIENCE II',
 'CONSERVATORY VOCAL ENSEMBLE',
 'CONTEMPORARY URBAN ISSUES',
 'COST & MANAGERIAL ACCOUNTING',
 'CRIMINAL JUSTICE INTERNSHIP',
 'CRWR THESIS CONTINUATION',
 'CST INTERNSHIP',
 'CURR INST & ASSMT IN ADOL ED',
 'CURR, INS, & ASSESS IN SEED',
 'DESIGN CAPSTONE',
 'DEVELOPMENTAL BIOLOGY',
 'DIPLOMA JURY',
 'DOCTORAL PROJECT',
 'DOCTORAL PROJECT CONTINUATION',
 'DRAMATIC COACHING-- OPERA',
 'EARLY CHILD SPEC EDUC METHODS',
 'ELECTRIC BASS (LOWER DIV)',
 'ELECTRIC BASS (UPPER DIV)',
 'ELECTRIC GUITAR (LOWER DIV)',
 'ELECTRIC GUITAR (UPPER DIV)',
 'EUPHONIUM (LOWER DIV)',
 'EUPHONIUM (UPPER DIV)',
 'EVIDENCE-BASED PRACTICE',
 'FLUTE (DIPLOMA)',
 'FLUTE (LOWER DIV)',
 'FLUTE (MM)',
 'FRENCH HORN (LOWER DIV)',
 'FRENCH HORN (MAJOR)',
 'FRENCH HORN (MM)',
 'FRENCH HORN (UPPER DIV)',
 'FRENCH HORN MAJOR',
 'FUNDAMENTALS OF ADVERTISING',
 'GENERAL GENETICS - LECT',
 'GRADUATE COMPOSITION',
 'GRADUATE COMPOSITION  RECITAL',
 'GRADUATE COMPOSITION JURY',
 'GRADUATE RECITAL',
 'GUITAR (LOWER DIV)',
 'GUITAR (MM)',
 'GUITAR (UPPER DIV)',
 'HEALTH CARE ETHICS',
 'HEALTH INFORMATICS INTERNSHIP',
 'HONORS SENIOR THESIS',
 'HOSP OPERATIONS ANALYSIS',
 'HUMAN CADAVER ANATOMY-LECT',
 'IND COACH & FIELD EXP 3',
 'IND. COACH & FIELD EXP I',
 'IND. COACH & FIELD EXP III',
 'IND. COACH & FIELD EXP. 1',
 'IND. COACHING & FIELD EXP.  1',
 'IND. COACHING & FIELD EXP. 3',
 'INDEPENDENT  STUDY',
 'INDEPENDENT STUDY',
 'INDUSTRIAL RELATIONS MGMT',
 'INSTRUCTIONAL COACHING 2',
 'INTELLECTUAL PROPERTY',
 'INTERGR, HLTH, ARTS & PE CURR',
 'INTERGR, HLTH, ARTS, & PE CURR',
 'INTERMEDIATE ACCOUNTING I',
 'INTERMEDIATE ACCOUNTING II',
 'INTERN IN PERFORMING ARTS',
 'INTERNSHIP',
 'INTERNSHIP IN IMC',
 'INTRO TO IMPROV',
 'JAZZ COMBO',
 'JAZZ DRUM SET (LOWER DIV)',
 'JAZZ DRUM SET (UPPER DIV)',
 'JUNIOR RECITAL',
 'JURY (LOWER DIV)',
 'JURY (UPPER DIV)',
 'JUVENILE JUSTICE',
 'LABOR RELATIONS MANAGEMENT',
 'LANGUAGE DEVELOPMENT',
 'LEGAL TECHNOLOGY',
 'MA I/O PRACTICUM',
 'MASTERS PROJECT',
 'MASTERS THESIS COMPLETION',
 'MEDIA INTERNSHIP',
 'MEDICAL INTERNSHIP',
 'MENTOR COACH & LEAD FRAMEWORKS',
 'MFA IN CREATIVE WRITING THESIS',
 'MM JURY',
 'MM ORCH EXCERPTS JURY',
 'MTDS TCH MID SCHL-SECOND MATH',
 'MTDS TEACH ENG TO ADOLESCENTS',
 'MTDS TEACH MATH TO ADOLESCENTS',
 'MTDS TEACH SECONDARY SCIENCE',
 'MUSICIANSHIP I:AURAL SKILLS',
 'MUSICIANSHIP II:AURAL SKILLS',
 'NEGOTIATION TACTICS/NEGOTIATIO',
 'NETWORKS SECURITY',
 'NURSING FUNDAM (LECT)',
 'OPEN SOURCE COMMUNITIES',
 'OPERA VOCAL COACHING',
 'OPS ANALYSIS FOR HOSP INDUSTRY',
 'ORCHESTRA',
 'PARALEGAL INTERNSHIP',
 'PD ORCH EXCERPTS JURY',
 'PERCUSSION (MM)',
 'PERCUSSION (UPPER DIV)',
 'PERFORMANCE ATTENDANCE',
 'PHYSICAL GEOGRAPHY I',
 'PIANO (DIPLOMA)',
 'PIANO (LOWER DIV)',
 'PIANO (MAJOR)',
 'PIANO (MINOR)',
 'PIANO (MM)',
 'PIANO (SECONDARY)',
 'PIANO (UPPER DIV)',
 'POVERTY POLICY',
 'PRACTICUM COMPLETION',
 'PRACTICUM: INSTRUMENTAL COLLAB',
 'PRACTICUM:COLLABORATIVE PIANO',
 'PRINCIPLES OF AUDITING',
 'PROFESSIONAL ACCT INTERNSHIP',
 'PROFESSIONAL FIN INTERNSHIP',
 'PROFESSIONAL HRM INTERNSHIP',
 'PROFESSIONAL INFS INTERNSHIP',
 'PROFESSIONAL MGMT INTERNSHIP',
 'PYTHON SCRIPT PROGRAMMING',
 'RESEARCH IN BIOCHEMISTRY',
 'RESEARCH IN BIOLOGY',
 'RESEARCH IN CHEMISTRY',
 'SAXOPHONE (LOWER DIV)',
 'SAXOPHONE (MAJOR)',
 'SECOND EMPHASIS JURY',
 'SEM:LAW AND PSYCHOLOGY',
 'SEMINAR: SOC OF MENTAL ILLNESS',
 'SENIOR JURY',
 'SENIOR LEVEL SPECIAL TOPICS',
 'SENIOR RECITAL',
 'SEVERE AND UNUSUAL WEATHER',
 'SGA Internship',
 'SMALL JAZZ ENSEMBLE',
 'SOC OF MENTAL DISORDERS',
 'SOLO PERFORMANCE',
 'SOPHOMORE JURY',
 'SPORT SAFETY TRAINING',
 'STRAT/MAT LIT & SOC STUD K-8',
 'STRAT/MAT READ & SOC STUD K-8',
 'STRING BASS (DIPLOMA)',
 'STRING BASS (UPPER DIV)',
 'STUDENT TEACH IN ELEM EDUC',
 'STUDENT TEACH SEM: ECHD',
 'STUDENT TEACH SEM: SEED',
 'STUDENT TEACH SEM: SPED',
 'STUDENT TEACHING INTERNSHIP',
 'SUSTAIN. STUDIES INTERNSHIP',
 'SYMPHONY ORCHESTRA',
 'TEACHER RESIDENCY 1',
 'TECH FOR SPECIAL EDUCATION',
 'THE GIG ECONOMY',
 'THE MULTIMEDIA PROJECT',
 'THEATER VOICE',
 'THEATRE AUDITIONING WORKSHOP',
 'THEATRE PERFORMANCE ASSIG PROJ',
 'THEATRE PERFORMANCE INTERNSHIP',
 'THEATRE PRODUCTION PRACTICUM',
 'THESIS',
 'THESIS COMPLETION',
 'THESIS PRODUCTION/PROJECT',
 'THESIS/PROJECT RESEARCH',
 'THESIS:CCCF FIN HONORS TRACK',
 'TOP: WAYS OF KNOWING NATURE',
 'TOP:POP/ROCK VOCAL STYLES',
 'TOP:WAYS OF KNOWING NATURE',
 'TOPICAL WORKSHOP',
 'TROMBONE (LOWER DIV)',
 'TUBA (LOWER DIV)',
 'TUBA (UPPER DIV)',
 'UNDERGRADUATE VOICE PERF CLASS',
 'VIOLA (LOWER DIV)',
 'VIOLA (MAJOR)',
 'VIOLA (MM)',
 'VIOLA (UPPER DIV)',
 'VIOLA MAJOR',
 'VIOLIN (DIPLOMA)',
 'VIOLIN (LOWER DIV)',
 'VIOLIN (MAJOR)',
 'VIOLIN (MM)',
 'VIOLIN (UPPER DIV)',
 'VIOLONCELLO (LOWER DIV)',
 'VIOLONCELLO (MAJOR)',
 'VIOLONCELLO (MM)',
 'VIOLONCELLO (UPPER DIV)',
 'VIOLONCELLO MAJOR',
 'VOCAL COACHING',
 'VOCAL ENSEMBLE',
 'VOCAL JAZZ ENSEMBLE',
 'VOICE (DIPLOMA LEVEL)',
 'VOICE (DIPLOMA)',
 'VOICE (LOWER DIV)',
 'VOICE (MAJOR)',
 'VOICE (MM)',
 'VOICE (UPPER DIV)',
 'WORLD VERNACULAR ARTISTRY'}

## Need to Discuss on how we are refining Courses

### Time to explore Athletes data

In [142]:
ath_ug = pd.read_csv("resources/athletics/UG-Distinct Count by Term, College & Major_2025-02-18.csv")

ath_ug = ath_ug[:-4]

In [143]:
tri = ath_ug.pivot_table(
    index=['Athletics Indicator','Major'],
    columns='Term',
    values = 'Distinct Students',
    fill_value=0
)

subtotals = tri.groupby(level=0).sum()
subtotals.insert(0, 'Major', 'Subtotal')

In [144]:
tri

Term                                                   2021-22  2022-23  \
Athletics Indicator Major
Athlete             Accounting (ACCT)                     19.0     25.0
                    Acting (ACTG)                          1.0      1.0
                    Actuarial Science (ACSC)               4.0      4.0
                    African-American Studies (AFS)         0.0      0.0
                    Allied Health (ALH)                   14.0      3.0
...                                                        ...      ...
Never an Athlete    Viola (VLA)                            3.0      6.0
                    Violin (VLN)                          10.0      6.0
                    Violoncello (VCEL)                    10.0     11.0
                    Voice (VOI)                           24.0     18.0
                    Women's and Gender Studies (WMST)      7.0      4.0

Term                                                   2023-24  2024-25
Athletics Indicator Major
Athlete             Accounting (ACCT)                     20.0     23.0
                    Acting (ACTG)                          2.0      1.0
                    Actuarial Science (ACSC)               2.0      1.0
                    African-American Studies (AFS)         0.0      1.0
                    Allied Health (ALH)                    0.0      0.0
...                                                        ...      ...
Never an Athlete    Viola (VLA)                            6.0      6.0
                    Violin (VLN)                          12.0     16.0
                    Violoncello (VCEL)                    12.0     12.0
                    Voice (VOI)                           20.0     23.0
                    Women's and Gender Studies (WMST)      6.0      2.0

[174 rows x 4 columns]

In [145]:
subtotals #Roughly 30% have been athletes

Term                    Major  2021-22  2022-23  2023-24  2024-25
Athletics Indicator
Athlete              Subtotal    591.0    602.0    610.0    637.0
Never an Athlete     Subtotal   1791.0   1603.0   1741.0   1973.0

In [406]:
sorted_df = tri.groupby(level=0, group_keys=False).apply(lambda x: x.sort_values(by="2024-25", ascending=False))

In [407]:
sorted_df.loc['Athlete'].head(20)

Term                                   2021-22  2022-23  2023-24  2024-25
Major
Exercise, Nutrition and Health (ENHS)     50.0     82.0     91.0     89.0
Management (MGMT)                         45.0     57.0     58.0     65.0
Marketing (MKTG)                          25.0     31.0     44.0     51.0
Finance (FIN)                             30.0     33.0     38.0     46.0
Psychology (PSYC)                         32.0     34.0     41.0     44.0
Criminal Justice (CJ)                     41.0     37.0     28.0     32.0
Undecided (UNDD)                          55.0     59.0     36.0     29.0
Biology (BIOL)                            24.0     19.0     28.0     26.0
Computer Science (CPSC)                   13.0     15.0     23.0     26.0
Accounting (ACCT)                         19.0     25.0     20.0     23.0
Digital, Adv, & Public Rel (DAPR)          1.0     10.0     24.0     21.0
Cyber and Information Security (CSIA)      7.0     10.0     12.0     14.0
Real Estate (REAL)                        11.0     12.0     15.0     11.0
Journalism and Media Studies (JMS)         5.0      6.0      8.0      9.0
Nursing (NURS)                            17.0     15.0     11.0      9.0
Graphic Design (GCDN)                      9.0     12.0     12.0      8.0
Elementary Education (ELED)                8.0      8.0      9.0      8.0
Biochemistry (BCHM)                        6.0      5.0      3.0      8.0
Diagnostic Med Sonogrphy (DMS)             7.0      5.0      6.0      8.0
Musical Theater (MUST)                     3.0      9.0      6.0      7.0